.pos{

    margin-top: 100px;
}


.tam{
    height: 100px;
    width:  60%;
   
   
 
}
.fondo{

    background-image: url("https://img.elo7.com.br/product/original/22E0494/par-de-adesivos-mercedes-benz-classe-a-powered-by-amg.jpg");


}

