.pos{

    margin-top: 100px;
}


.tam{
    height: 100px;
    width:  60%;
   
   
 
}
.fondo{

    background-image: url("https://i.pinimg.com/736x/7a/26/d5/7a26d55189994d2a0d5f18d6c456b38f--mustang-shelby-cool-cars.jpg");


}
