.colorbarra{
background-color: #F7DC6F;


}

.colorbarra2{

    background-color: #2980B9;
}

.colorbarra3{
 background:transparent;

}

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Playball&family=Press+Start+2P&display=swap');

.letras{

    font-family: 'Faster One', cursive;
    color: #C0392B;
    


}

.imagen1{

 border-radius: 10px;
 border-style: solid;
 border-color: rgb(113, 119, 124);

}