

<div class="container">
    <div class="row row-cols-md-2 fondo">
      <div class="col-sm-2"><div id="carouselExampleDark" class="carousel carousel-dark slide tam pos" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="https://www.autocar.co.uk/sites/autocar.co.uk/files/styles/gallery_slide/public/images/car-reviews/first-drives/legacy/porsche_911_carrera_s_manual_tracking.jpg?itok=Iwq6iFJB" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="https://www.autocar.co.uk/sites/autocar.co.uk/files/styles/body-image/public/porsche_911_carrera_panning.jpg?itok=maVWC_Rg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
             
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://www.autocar.co.uk/sites/autocar.co.uk/files/styles/body-image/public/10-porsche-cayman-gts-side_0.jpg?itok=pwEF2jcs" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block tam">
           
            </div>
          </div>
        </div>
        <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div></div>
      <div class="col-sm-2"><div class="card border-primary mb-3 pos" style="max-width: 30rem;">
        <div class="card-header">Porsche 911 From £85,576</div>
        <div class="card-body text-primary">
          <h5 class="card-title">Wider, more powerful eighth-generation 911 is still eminently fast, and capable at all speeds</h5>
          <p class="card-text">The much-celebrated, world-renowned Porsche 911, now 56 years and eight full model generations old, remains a shining beacon to the rest of the car business..</p>
        </div>
      </div></div>
      <div class="col-sm-2"><div id="carouselExampleDark" class="carousel carousel-dark slide tam my-5" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="https://www.autocar.co.uk/sites/autocar.co.uk/files/styles/gallery_slide/public/1-porsche-911-2019-rt-hero-front.jpg?itok=fxHhtBBm" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="https://www.autocar.co.uk/sites/autocar.co.uk/files/styles/gallery_slide/public/3-porsche-911-2019-rt-hero-rear.jpg?itok=mIzi4qZ9" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
             
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://www.autocar.co.uk/sites/autocar.co.uk/files/styles/gallery_slide/public/13-porsche-911-2019-rt-dashboard.jpg?itok=PUAp-XrQ" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div></div>
      <div class="row-cols-sm-2 my-5"><div class="card border-primary " style="max-width: 35rem;">
        <div class="card-header">Video</div>
        <div class="card-body text-primary">
          <h5 class="card-title">Porsche 911</h5>
          <p class="card-text "><iframe width="200" height="150" src="https://www.youtube.com/embed/P0mKTdJYSjI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
        </div>
      </div></div>
    </div>
  </div>