.pos{

    margin-top: 100px;
   
}


.tam{
    height: 100px;
    width:  60%;

   
   
 
}
.fondo{

    background-image: url("https://previews.123rf.com/images/pavelshlykov/pavelshlykov1905/pavelshlykov190500192/124659585-porsche-logo-close-up-on-various-hood-color-ferdinand-porsche-founded-the-company-in-1931-with-main-.jpg");
   


}



